@model DAL_Data_Access_Layer_.Model.Candidate

@{
    ViewData["Title"] = "Create";
}

<h1>Create Political Candidate</h1>

<h4>Candidate's Details form</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="form-group">
                <ul>
                    <il>
                        <div>
                            <h6>Gender</h6>
                        </div>
                    </il>
                    <li>Male : @Html.RadioButtonFor(m => m.Gender,"Male")</li>
                    <li>Female : @Html.RadioButtonFor(m => m.Gender,"Female")</li>
                    <li>Others : @Html.RadioButtonFor(m => m.Gender,"Others")</li>
                </ul>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a style="position: relative;top: 9px;" class="bi bi-arrow-left-square-fill fa-2x" asp-action="Index"></a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}