@{
    ViewData["Title"] = "AdminOptions";
}

<h3 style="text-align:center">AdminOptions</h3>
<ul style="list-style-type:none;padding-left: 0px;text-align: center;">
    <li>
        <a class="btn btn-outline-info text-white wdbtn" asp-controller="Users" asp-action="Index">Users Modifications</a>
    </li>
    <li>
        <a class="btn btn-outline-info text-white wdbtn" asp-controller="Candidates" asp-action="Index">Candidate Modifications</a>
    </li>
    <li>
        <a class="btn btn-outline-info text-white wdbtn" asp-controller="Admins" asp-action="VotingResult">Voting Results</a>
    </li>
</ul>

