
@{
    ViewData["Title"] = "AdminOptions";
}
<style>
    .allmargin {margin: 20px;}
</style>
<h1>AdminOptions</h1>
<ol>
    <li>
        <a class="allmargin btn btn-primary" asp-action="UserIndex">Users Modifications</a>
    </li>
    <li>
        <a class="allmargin btn btn-primary" asp-action="CandidateIndex">Candidate Modifications</a>
    </li>
    <li>
        <a class="allmargin btn btn-primary" asp-action="Index">Admin Modifications</a>
    </li>
</ol>

