

<h3>Admin Options</h3>
<ul>
    <li>
        <a class="btn btn-outline-info text-white" asp-controller="Users" asp-action="Index">Users Modifications</a>
    </li>
    <li>
        <a class="btn btn-outline-info text-white" asp-controller="Candidates" asp-action="Index">Candidate Modifications</a>
    </li>
    <li>
        <a class="btn btn-outline-info text-white" asp-controller="Admins" asp-action="VotingResult">Admin Modifications</a>
    </li>
</ul>

