

<style>
    .allmargin {margin: 20px;}
    .hover:hover{
         transform: scale(1.2);
        transition:2s;
    }
</style>
<h3>Admin Options</h3>
<ul>
    <li>
        <a class="allmargin hover btn bg-info text-white" asp-controller="Users" asp-action="Index">Users Modifications</a>
    </li>
    <li>
        <a class="allmargin hover btn bg-info text-white" asp-controller="Candidates" asp-action="Index">Candidate Modifications</a>
    </li>
    <li>
        <a class="allmargin btn hover bg-info text-white" asp-controller="Admins" asp-action="Index">Admin Modifications</a>
    </li>
    <li>
        <a class="allmargin btn hover bg-info text-white" asp-controller="Admins" asp-action="VotingResult">Admin Modifications</a>
    </li>
</ul>

