
@{
    ViewData["Title"] = "AdminOptions";
}
<style>
    .allmargin {margin: 20px;}
</style>
<h1>AdminOptions</h1>
<ol>
    <li>
        <a class="allmargin btn btn-primary" asp-controller="Users" asp-action="Index">Users Modifications</a>
    </li>
    <li>
        <a class="allmargin btn btn-primary" asp-controller="Candidates" asp-action="Index">Candidate Modifications</a>
    </li>
    <li>
        <a class="allmargin btn btn-primary" asp-action="Index">Admin Modifications</a>
    </li>
    <li>
        <a class="allmargin btn btn-primary" asp-action="VotingResult">Voting Results</a>
    </li>
</ol>

