@model DAL_Data_Access_Layer_.Model.Candidate

@{
    ViewData["Title"] = "ChoiceCandidate";
}
<style>
    #margin{margin-top: 90px;}
    .margin{margin-bottom:120px;}
    #Logout1{color:white;}
</style>
<div id="margin" class="text-center">
    <h1 class="display-4" ><strong>Thanks For Voting</strong></h1>
    <h3>Your Record is been Submited</h3>
    <a id="Logout1" class="margin btn btn-danger">Click Here To Logout</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
